@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Fira Sans', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

header banner, section .about-details {
    max-width: 1165px;
}

/* header styles */
header nav {
    max-width: 1440px;
}

header .nav-bar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin: 18px 145px; 
}

header .nav-title {
    color: rgb(14, 14, 14);
    font-size: 29px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
}

header .nav-bar button {
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 14px 27px;
    color: rgb(0, 106, 80);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    background-color: transparent;
}

header .nav-bar button:hover {
    background-color: rgb(0, 106, 80);
    color: white;
    transition: 0.3s ease-in-out;
}

/* banner styles */
.banner {
    height: 510px;
    display: flex;
    gap: 58px;
    justify-content: center;
    align-items: center;
    margin: 0 145px;
    border-radius: 22px;
    background: rgb(198, 228, 214);
    padding: 73px 91px;
}

.banner-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    margin-bottom: 15px;  
}

.banner-title {
    color: rgb(14, 14, 14);
    font-size: 41px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    margin-bottom: 22px; 
}

.banner button {
    padding: 15px 31px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 20x;
    letter-spacing: 0%;
    /* margin-bottom: 73px; */
}

.banner button:hover {
    background: rgb(3, 1, 37);
    color: white;
    transition: 0.3s ease-in-out;
}

/* card section styles */

section .about{
    height: 295px;
}

section .about-details {
    margin: 73px 145px; 
}

section .section-title {
    color: rgb(14, 14, 14);
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    margin-bottom: 29px;
}

.card-container {
    display: flex;
    gap: 22px;
    justify-content: space-evenly;
    align-items: center;
   
}
.card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
    padding: 22px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

